<template>
  <gl-dropdown text="Some dropdown">
    <gl-dropdown-item>First item</gl-dropdown-item>
    <gl-dropdown-item :disabled="true">Second item</gl-dropdown-item>
    <gl-dropdown-item>Last item</gl-dropdown-item>
  </gl-dropdown>
</template>
