<template>
  <div>
    <gl-button>default</gl-button>
    <gl-button category="primary" variant="success">success</gl-button>
    <gl-button category="primary" variant="info">info</gl-button>
    <gl-button category="primary" variant="warning">warning</gl-button>
    <gl-button category="primary" variant="danger">danger</gl-button>
    <gl-button category="secondary" variant="success">success</gl-button>
    <gl-button category="secondary" variant="info">info</gl-button>
    <gl-button category="secondary" variant="warning">warning</gl-button>
    <gl-button category="secondary" variant="danger">danger</gl-button>
    <gl-button variant="link">link</gl-button>
  </div>
</template>
