import { withKnobs } from '@storybook/addon-knobs';
import { documentedStoriesOf } from '../../../../documentation/documented_stories';
import readme from './{{name}}.md';
import { Gl{{pascalCase name}} } from '../../../../index';

const components = {
  Gl{{pascalCase name}},
};

documentedStoriesOf('base|{{name}}', readme)
  .addDecorator(withKnobs)
  .add('default', () => ({
    components,
    template: `
      <gl-{{kebabCase name}} />
    `,
  }));
