.gl-filtered-search-token {
  &.gl-filtered-search-token-active {
    @include gl-cursor-default;
  }

  @include gl-h-6;
  @include gl-display-inline-flex;
  @include gl-white-space-nowrap;
  @include gl-cursor-pointer;
}

.gl-token {
  @include gl-rounded-0;

  &.gl-filtered-search-token-type {
    @include gl-h-6;
    @include gl-bg-gray-100;
    @include gl-rounded-top-left-small;
    @include gl-rounded-bottom-left-small;
    @include gl-p-2;
    @include gl-mr-1;
  }

  &.gl-filtered-search-token-operator {
    @include gl-h-6;
    @include gl-bg-gray-100;
    @include gl-mr-1;
  }

  &.gl-filtered-search-token-data {
    @include gl-h-6;
    @include gl-bg-gray-200;
    @include gl-rounded-top-right-small;
    @include gl-rounded-bottom-right-small;
  }
}

.gl-filtered-search-token-operator-description {
  @include gl-text-gray-600;
  @include gl-ml-auto;
}
