@import 'functions';

// Layout
$grid-size: px-to-rem(8px);
$gl-spacing-scale-1: 0.25 * $grid-size;
$gl-spacing-scale-2: 0.5 * $grid-size;
$gl-spacing-scale-3: $grid-size;
$gl-spacing-scale-4: 1.5 * $grid-size;
$gl-spacing-scale-5: 2 * $grid-size;
$gl-spacing-scale-6: 3 * $grid-size;
$gl-spacing-scale-7: 4 * $grid-size;
$gl-spacing-scale-8: 5 * $grid-size;
$gl-spacing-scale-9: 6 * $grid-size;
$gl-spacing-scale-10: 7 * $grid-size;
$gl-spacing-scale-11: 8 * $grid-size;
$gl-spacing-scale-11-5: 9 * $grid-size;
$gl-spacing-scale-12: 10 * $grid-size;
$gl-spacing-scale-13: 12 * $grid-size;

// Responsive breakpoints
$breakpoint-sm: px-to-rem(576px);
$breakpoint-md: px-to-rem(768px);
$breakpoint-lg: px-to-rem(992px);
$breakpoint-xl: px-to-rem(1200px);

$transparent: transparent;

// Color schema
$black: #000;
$black-normal: #333;

$white: #fff;
$white-light: #fff;
$white-normal: #f0f0f0;
$white-dark: #eaeaea;
$white-transparent: rgba(255, 255, 255, 0.8);

$green-50: #ecf4ee;
$green-100: #c3e6cd;
$green-200: #91d4a8;
$green-300: #52b87a;
$green-400: #2da160;
$green-500: #108548;
$green-600: #217645;
$green-700: #24663b;
$green-800: #0d532a;
$green-900: #0a4020;
$green-950: #072b15;

$blue-50: #e9f3fc;
$blue-100: #cbe2f9;
$blue-200: #9dc7f1;
$blue-300: #63a6e9;
$blue-400: #428fdc;
$blue-500: #1f75cb;
$blue-600: #1068bf;
$blue-700: #0b5cad;
$blue-800: #064787;
$blue-900: #033464;
$blue-950: #002850;

$orange-50: #fdf1dd;
$orange-100: #f5d9a8;
$orange-200: #e9be74;
$orange-300: #d99530;
$orange-400: #c17d10;
$orange-500: #ab6100;
$orange-600: #9e5400;
$orange-700: #8f4700;
$orange-800: #703800;
$orange-900: #5c2900;
$orange-950: #421f00;

$red-50: #fcf1ef;
$red-100: #fdd4cd;
$red-200: #fcb5aa;
$red-300: #f57f6c;
$red-400: #ec5941;
$red-500: #dd2b0e;
$red-600: #c91c00;
$red-700: #ae1800;
$red-800: #8d1300;
$red-900: #660e00;
$red-950: #4d0a00;

$purple-50: #f4f0ff;
$purple-100: #e1d8f9;
$purple-200: #cbbbf2;
$purple-300: #ac93e6;
$purple-400: #9475db;
$purple-500: #7b58cf;
$purple-600: #6b51b8;
$purple-700: #5943b6;
$purple-800: #453894;
$purple-900: #2f2a6b;
$purple-950: #232150;

/*
Neutral palette mapping

Old variables are mapped to new variables by approximating the closest variable, erring on the side of shifting darker (with the exception of old 400). There is currently nothing mapped to 600 and 800, which makes them a good use case for subtle nuance in the UI.


Before        After (reflected below)
-------------------------------------
50            0
100           50
200           100
300           200
400           200
500           300
600           400
700           500*
800           700
900           900
950           950

* Passes 4.5:1 contrast ratio on $gray-0
*/

$gray-0: #fafafa;
$gray-50: #f0f0f0;
$gray-100: #dbdbdb;
$gray-200: #bfbfbf;
$gray-300: #999;
$gray-400: #868686;
$gray-500: #666;
$gray-600: #5e5e5e;
$gray-700: #525252;
$gray-800: #404040;
$gray-900: #303030;
$gray-950: #1f1f1f;

// GitLab themes

$gl-themes: 'indigo', 'blue', 'light-blue', 'green', 'red', 'light-red';

$theme-indigo-50: #f1f1ff;
$theme-indigo-100: #dbdbf8;
$theme-indigo-200: #c7c7f2;
$theme-indigo-300: #a2a2e6;
$theme-indigo-400: #8181d7;
$theme-indigo-500: #6666c4;
$theme-indigo-600: #5252b5;
$theme-indigo-700: #41419f;
$theme-indigo-800: #303083;
$theme-indigo-900: #222261;
$theme-indigo-950: #14143d;

$theme-blue-50: #cdd8e3;
$theme-blue-100: #b9cadc;
$theme-blue-200: #a6bdd5;
$theme-blue-300: #81a5c9;
$theme-blue-400: #628eb9;
$theme-blue-500: #4977a5;
$theme-blue-600: #346596;
$theme-blue-700: #235180;
$theme-blue-800: #153c63;
$theme-blue-900: #0b2640;
$theme-blue-950: #04101c;

$theme-light-blue-50: #dde6ee;
$theme-light-blue-100: #c1d4e6;
$theme-light-blue-200: #a0bedc;
$theme-light-blue-300: #74a3d3;
$theme-light-blue-400: #4f8bc7;
$theme-light-blue-500: #3476b9;
$theme-light-blue-600: #2268ae;
$theme-light-blue-700: #145aa1;
$theme-light-blue-800: #0e4d8d;
$theme-light-blue-900: #0c4277;
$theme-light-blue-950: #0a3764;

$theme-green-50: #dde9de;
$theme-green-100: #b1d6b5;
$theme-green-200: #8cc497;
$theme-green-300: #69af7d;
$theme-green-400: #499767;
$theme-green-500: #308258;
$theme-green-600: #25744c;
$theme-green-700: #1b653f;
$theme-green-800: #155635;
$theme-green-900: #0e4328;
$theme-green-950: #052e19;

$theme-red-50: #f4e9e7;
$theme-red-100: #ecd3d0;
$theme-red-200: #e3bab5;
$theme-red-300: #d59086;
$theme-red-400: #c66e60;
$theme-red-500: #ad4a3b;
$theme-red-600: #a13322;
$theme-red-700: #8f2110;
$theme-red-800: #761405;
$theme-red-900: #580d02;
$theme-red-950: #380700;

$theme-light-red-50: #faf2f1;
$theme-light-red-100: #f6d9d5;
$theme-light-red-200: #ebada2;
$theme-light-red-300: #e07f6f;
$theme-light-red-400: #d36250;
$theme-light-red-500: #c24b38;
$theme-light-red-600: #b53a26;
$theme-light-red-700: #a02e1c;
$theme-light-red-800: #8b2212;
$theme-light-red-900: #751709;
$theme-light-red-950: #5c1105;

// Data visualization color palette

$data-viz-green-50: #ddfab7;
$data-viz-green-100: #c9f097;
$data-viz-green-200: #b0de73;
$data-viz-green-300: #94c25e;
$data-viz-green-400: #83ab4a;
$data-viz-green-500: #608b2f;
$data-viz-green-600: #487900;
$data-viz-green-700: #366800;
$data-viz-green-800: #275600;
$data-viz-green-900: #1a4500;
$data-viz-green-950: #0f3300;

$data-viz-aqua-50: #b8fff2;
$data-viz-aqua-100: #93fae7;
$data-viz-aqua-200: #5eebdf;
$data-viz-aqua-300: #25d2d2;
$data-viz-aqua-400: #0bb6c6;
$data-viz-aqua-500: #0094b6;
$data-viz-aqua-600: #0080a1;
$data-viz-aqua-700: #006887;
$data-viz-aqua-800: #004d67;
$data-viz-aqua-900: #003f57;
$data-viz-aqua-950: #00293d;

$data-viz-blue-50: #e9ebff;
$data-viz-blue-100: #d4dcfa;
$data-viz-blue-200: #b7c6ff;
$data-viz-blue-300: #97acff;
$data-viz-blue-400: #748eff;
$data-viz-blue-500: #5772ff;
$data-viz-blue-600: #445cf2;
$data-viz-blue-700: #3547de;
$data-viz-blue-800: #232fcf;
$data-viz-blue-900: #1e23a8;
$data-viz-blue-950: #11118a;

$data-viz-magenta-50: #ffe3eb;
$data-viz-magenta-100: #ffc9d9;
$data-viz-magenta-200: #fcacc5;
$data-viz-magenta-300: #ff85af;
$data-viz-magenta-400: #f2639a;
$data-viz-magenta-500: #d84280;
$data-viz-magenta-600: #c52c6b;
$data-viz-magenta-700: #b31756;
$data-viz-magenta-800: #950943;
$data-viz-magenta-900: #7a0033;
$data-viz-magenta-950: #570028;

$data-viz-orange-50: #fae8d1;
$data-viz-orange-100: #f7d8b5;
$data-viz-orange-200: #f3c291;
$data-viz-orange-300: #eb9a5c;
$data-viz-orange-400: #e17223;
$data-viz-orange-500: #d14e00;
$data-viz-orange-600: #b24800;
$data-viz-orange-700: #944100;
$data-viz-orange-800: #6f3500;
$data-viz-orange-900: #5c2b00;
$data-viz-orange-950: #421e00;

$darken-normal-factor: 7%;
$darken-dark-factor: 10%;
$darken-border-factor: 5%;
$darken-border-dashed-factor: 25%;

$t-gray-a-02: rgba($black, 0.02);
$t-gray-a-04: rgba($black, 0.04);
$t-gray-a-06: rgba($black, 0.06);
$t-gray-a-08: rgba($black, 0.08);
$t-gray-a-24: rgba($black, 0.24);

// Text
$gl-font-weight-normal: 400;
$gl-font-weight-bold: 600;

$gl-font-weights: (
  'normal': $gl-font-weight-normal,
  'bold': $gl-font-weight-bold,
);

// Line height
$gl-line-height-16: px-to-rem(16px);
$gl-line-height-20: px-to-rem(20px);
$gl-line-height-24: px-to-rem(24px);
$gl-line-height-28: px-to-rem(28px);
$gl-line-height-32: px-to-rem(32px);
$gl-line-height-36: px-to-rem(36px);
$gl-line-height-44: px-to-rem(44px);
$gl-line-height-52: px-to-rem(52px);

// UI typescale

// default (min-width: 0)
$gl-font-size: px-to-rem(14px);
$gl-font-size-sm: px-to-rem(12px);
$gl-font-size-lg: px-to-rem(16px);

$gl-font-size-h-display: px-to-rem(28px);
$gl-font-size-h1: px-to-rem(23px);
$gl-font-size-h2: px-to-rem(19px);

// breakpoint (min-width: 768px)
$gl-font-size-h-display-md: px-to-rem(31px);
$gl-font-size-h1-md: px-to-rem(25px);
$gl-font-size-h2-md: px-to-rem(20px);

// breakpoint (min-width: 1200px)
$gl-font-size-h-display-xl: px-to-rem(45px);
$gl-font-size-h1-xl: px-to-rem(32px);
$gl-font-size-h2-xl: px-to-rem(23px);

// Markdown typescale

// default (min-width: 0)
$gl-font-size-markdown: px-to-rem(16px);
$gl-font-size-markdown-sm: px-to-rem(14px);

$gl-font-size-markdown-h1: px-to-rem(23px);
$gl-font-size-markdown-h2: px-to-rem(19px);
$gl-font-size-markdown-h3: px-to-rem(16px);
$gl-font-size-markdown-h4: px-to-rem(16px);

// headers h5, h6 share the same size
$gl-font-size-markdown-hn: px-to-rem(14px);

// breakpoint (min-width: 768px)
$gl-font-size-markdown-h1-md: px-to-rem(31px);
$gl-font-size-markdown-h2-md: px-to-rem(25px);
$gl-font-size-markdown-h3-md: px-to-rem(20px);

// breakpoint (min-width: 1200px)
$gl-font-size-markdown-h1-xl: px-to-rem(45px);
$gl-font-size-markdown-h2-xl: px-to-rem(32px);
$gl-font-size-markdown-h3-xl: px-to-rem(23px);

// Compact markdown typescale

// default (min-width: 0)
$gl-font-size-compact-markdown: px-to-rem(14px);
$gl-font-size-compact-markdown-sm: px-to-rem(12px);

$gl-font-size-compact-markdown-h1: px-to-rem(19px);
$gl-font-size-compact-markdown-h2: px-to-rem(16px);

// headers h3, h4, h5, and h6 share the same size
$gl-font-size-compact-markdown-hn: px-to-rem(14px);

// media-md: min-width: 768px
$gl-font-size-compact-markdown-h1-md: px-to-rem(20px);

// media xl (min-width: 1200px)
$gl-font-size-compact-markdown-h1-xl: px-to-rem(23px);

// Monoscape
// These font sizes apply for all content-types, media-breakpoints, and element-types.
$gl-font-size-monospace: px-to-rem(13px);
$gl-font-size-monospace-lg: px-to-rem(15px);
$gl-font-size-monospace-sm: px-to-rem(11px);

// Fonts
$gl-monospace-font: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
  'Courier New', 'andale mono', 'lucida console', monospace;
$gl-regular-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

$gl-fonts: (
  'monospace': $gl-monospace-font,
  'regular': $gl-regular-font,
);

$gl-border-size-1: px-to-rem(1px);
$gl-border-size-2: px-to-rem(2px);
$gl-border-size-3: px-to-rem(3px);
$gl-border-size-4: px-to-rem(4px);
$gl-border-size-5: px-to-rem(5px);
$gl-border-size-8: px-to-rem(8px);

// border roundness
$gl-border-radius-small: $gl-spacing-scale-1;
$gl-border-radius-base: $gl-spacing-scale-2;
$gl-border-radius-large: $gl-spacing-scale-3;
$gl-border-radius-full: 50%;

// transition parameters
$gl-transition-duration-slow: 0.4s;
$gl-transition-duration-medium: 0.2s;

// Toasts
$toast-max-width: px-to-rem(586px);
$toast-padding-right: px-to-rem(42px);
$toast-background-opacity: 0.95;

// Chart tooltip
$chart-tooltip-max-width: px-to-rem(512px);

$gl-icon-chevron-left: 'data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 0 0 1.414l3 3a1 1 0 0 0 1.414-1.414L7.414 8l2.293-2.293a1 1 0 0 0-1.414-1.414l-3 3z"/></svg>';
$gl-icon-chevron-right: 'data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M10.707 7.293a1 1 0 0 1 0 1.414l-3 3a1 1 0 0 1-1.414-1.414L8.586 8 6.293 5.707a1 1 0 0 1 1.414-1.414l3 3z"/></svg>';
$gl-icon-chevron-down: 'data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M7.293 10.707a1 1 0 0 0 1.414 0l3-3a1 1 0 0 0-1.414-1.414L8 8.586 5.707 6.293a1 1 0 0 0-1.414 1.414l3 3z"/></svg>';

// Icons
$default-icon-size: px-to-rem(18px);
$gl-icon-sizes: 8 10 12 14 16 18 24 32 48 72;

// Dropdowns
$gl-dropdown-width: px-to-rem(240px);
$gl-dropdown-width-narrow: px-to-rem(160px);
$gl-dropdown-width-wide: px-to-rem(400px);
$gl-max-dropdown-max-height: px-to-rem(312px);

// Broadcast messages
$gl-broadcast-message-text-max-width: px-to-rem(934px);

// Modal Widths
$gl-modal-small-width: px-to-rem(512px);
$gl-modal-medium-width: px-to-rem(768px);
$gl-modal-large-width: px-to-rem(990px);
